<div *ngIf="fileName; else inputModel">

    <div class="alert alert-primary container text-center" role="alert">
        Loading model {{fileName}} ...
    </div>

    <app-spinner></app-spinner>


</div>


<ng-template #inputModel>
    <app-input-local-model (fileChange)="sendLocalModel($event)"></app-input-local-model>
</ng-template>


<div *ngIf="loadStatus == 1" class="alert alert-success container text-center" role="alert">
    successful loaded
</div>

<div *ngIf="loadStatus == 2" class="alert alert-danger container text-center" role="alert">
    Unable do load model, please report this on github
</div>
