<!-- Toolbar -->


<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top rounded-bottom" style="position: sticky">
  <a class="navbar-brand" routerLink="">
    <img id="logo" src="assets/app-component/deep-learning-light.png" width="75" height="45"
         class="d-inline-block align-top" alt="">
    An chrome Extension
  </a>

  <div class="navbar-nav mr-auto ">

    <div class="nav-item">

      <div style="width: 50%">
        <a class=" nav-link" routerLink="filters"> Filters</a>
      </div>

      <div style="width: 50%">
        <a class=" nav-link" routerLink="models">Models</a>
      </div>

    </div>

  </div>

</nav>
