<!-- Toolbar -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

  <a class="navbar-brand" routerLink="">
    <img id="teddy-bear-filter-logo" src="assets/app-component/teddy-bear.png" width="30" height="30"
         class="d-inline-block align-top" alt="">
    Teddy Bear Filter
  </a>

  <div class="navbar-nav mr-auto">

    <div class="nav-item">
      <div style="width: 50%">
        <a class=" nav-link" routerLink="filters"> Filters</a>
      </div>
      <div style="width: 50%">
        <a class=" nav-link" routerLink="models">Models</a>
      </div>



    </div>

  </div>

</nav>
